body
{
  min-width: 250px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #545454;
  background-color: #f8f6f2;
  background-image: url(background.png);
}

/* Header */
header
{
  height: 65px;
  margin-bottom: 0px;
  padding-left: 35px;
  border-bottom: 1px solid #e1ddd8;
  background-image: url(background-main.png);
}

#titleText1
{
  font-size: 25px;
  font-weight: bolder;
}
#titleText2
{
  font-size: 25px;
  font-weight: bold;
}
#titleIcon
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -8px;
  margin-right: -10px;
  vertical-align: top;
}

#logo
{
  position: relative;
  font-size: 19px;
  font-weight: bold;
  top: 10px;
  height: 15px;
}
/* Menu */
#wrapper
{
  padding: 0px 20px;
}
/* List */
ul
{
  margin: 0px;
  padding: 0px;
}

li
{
  cursor: pointer;
  list-style-type: none;
  white-space: nowrap;
  border-top: 1px dashed #a5a4a1;
}

li ul
{
  margin-left: 35px;
}

li li
{
  cursor: default;
  padding: 10px 15px;
}

.menu-item
{
  padding: 10px 0px 10px 15px;
}

.menu-item:hover
{
  background-color: #ece7df;
}

.icon
{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  vertical-align: top;
  background-image: url(popup.png);
}

#popup .icon, #cookies .icon
{
  background-position: -50px -1px ;
}

#popup.off .icon, #cookies.off .icon
{
  background-position: -50px -17px;
}

#clickhide .icon,
#clickhide-cancel .icon
{
  background-position: -50px -33px;
}
/* Footer */
footer
{
  cursor: pointer;
  padding: 10px 35px;
  border-top: 1px solid #e1ddd8;
  background-image: url(background-main.png);
}

footer:hover
{
  background: -moz-linear-gradient(top, rgba(70, 50, 0, 0.1), rgba(70, 50, 0, 0.1)),
    url(background-main.png);
  background: -webkit-linear-gradient(top, rgba(70, 50, 0, 0.1), rgba(70, 50, 0, 0.1)),
    url(background-main.png);
  background: linear-gradient(to bottom, rgba(70, 50, 0, 0.1), rgba(70, 50, 0, 0.1)),
    url(background-main.png);
}

footer .icon
{
  background-position: -50px -65px;
}